body {
	margin: 25px 15px 0px 15px;
	background-color: white;
}
title {
	text-align: center;
	color: #000000;
	font-weight:bold;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #000000;
	padding: 15px 15px;
}
p {
	color: #1a1a1a;
	padding: 10px 10px;
}
form {
	margin left:40px;
}
label {
	font-weight: 600;
}
#submit {
	background-color:#000000;
	color: #ffffff;
	border-radius: 8;
	font-size: 16px;
}
#submit:hover {
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 0px 3px #000000, 0px 0px 20px #0000ff;
}
